<div class="users-container">

  <h2>Liste des utilisateurs</h2>

  @if (loading) {
    <p>Chargement...</p>
  }

  @if (error) {
    <p class="error">{{ error }}</p>
  }

  @if (!loading && !error) {

    <table class="users-table">
      <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
        @for (user of users; track user.id) {
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.role.name }}</td>

            <td>
              @if (user.role.name === 'USER') {
                <button (click)="setAdmin(user)">
                  Promouvoir Admin
                </button>
              }
              <button
                [disabled]="user.role.name === 'ADMIN'"
                (click)="deleteUser(user.id)">
                Supprimer
              </button>

            </td>
          </tr>
        }
      </tbody>
    </table>

  }

</div>
