<div class="container">

  <h2>Translations</h2>

  <button class="btn btn-primary mb-3"
          (click)="goToCreate()">
    Créer une traduction
  </button>

  @if (translations().length === 0) {
    <p>Aucune traduction trouvée</p>
  } @else {

    <table class="table table-striped">

      <thead>
      <tr>
        <th>Texte traduit</th>
        <th>Langue</th>
        <th>Flashcard</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
        @for (t of translations(); track t.id) {
          <tr>
            <td>{{ t.translatedText }}</td>
            <td>{{ t.learnerLanguage }}</td>
            <td>{{ t.flashcardId }}</td>

            <td>
              <button class="btn btn-danger btn-sm"
                      (click)="deleteTranslation(t.id!)">
                Supprimer
              </button>
            </td>

          </tr>
        }
      </tbody>

    </table>

  }

</div>
