<nav class="navbar">

  <div class="logo">
    <a routerLink="/">Lexora</a>
  </div>

  <ul class="nav-links">
    <li>
      <a routerLink="/">Accueil</a>
    </li>

    <li class="dropdown">
      <a class="dropbtn">
        Decks ▼
      </a>

      <ul class="dropdown-content">
        <li>
          <a routerLink="/decks">
            Liste des decks
          </a>
        </li>

        <li>
          <a routerLink="/decks/create">
            Créer un deck
          </a>
        </li>
      </ul>
    </li>

    <li>
      @if (!user()) {
        <a routerLink="/users/create">
          Créer utilisateur
        </a>
      }
    </li>

    @if (user() && (user()?.role === 'ADMIN' || user()?.role === 'SUPER_ADMIN')) {
      <li class="dropdown">
        <a class="dropbtn">
          Gestion utilisateur ▼
        </a>

        <ul class="dropdown-content">

          <li>
            <a routerLink="/users">
              User List
            </a>
          </li>

          <li>
            <a routerLink="/roles">
              Gestion rôles
            </a>
          </li>

        </ul>
      </li>
    }
  </ul>

  <div class="actions">

    @if (!user()) {
      <a routerLink="/login" class="btn">
        Connexion
      </a>
    }

    @if (user()) {
      <div class="user-info">
        Bonjour {{ user()?.sub }}
      </div>

      <button (click)="logout()">
        Logout
      </button>
    }

  </div>

</nav>
